html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color:whitesmoke;
    font-size: 18px;
}
.topnav {
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    position: sticky;
    top: 0; 
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
    background-color: rgb(228, 216, 221);
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon { /* When you click on hamburger and retract menu*/
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .topnav.topnav.responsive{
        overflow: hidden;
        background-color: rgb(37, 37, 37);
        position: sticky;
        top: 0; 
    }
}
#portrait{
    padding-top: 10px;
    text-align: center;
}
#portrait img {
    border-radius: 5px;
    max-width: 300px;
    width: auto;
    height: auto;
}
#logo{
    padding-top: 10px;
    padding-left: 5%;
    text-align: left;
    max-width: 100%;
    height: auto;
}
.header {
    background-image: linear-gradient(#302525, #D9B4A7);
    background-size: 100%;
    background-position-y: 0%;
    font-size: 2em;
    color: whitesmoke;
    height: 100vh;
}
.header h1 {
    font-size: 5vw;
    text-align: center;
    padding-top: 1%;
    color: whitesmoke;
}
main{
    line-height: 30px;
}
h2 {
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    font-size: 55px;
}
.sub_h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
.project_h3{
    padding-bottom: 3%;
}
.span1:hover {
    color: #3887A6;
    font-weight: 900;
    text-decoration: underline;
}
#img_mj:hover, #img_ek:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#img_mj, #img_ek{
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.descrip{
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
}
.descrip_text{
    border-radius: 40px;
    border: 1px solid black;
    padding: 3%;
}
.span2:hover {
    color: #BF3467;
    font-weight: 900;
    text-decoration: underline;
}
.proj {
    padding-bottom: 3%;
}
#contact_h3 {
    font-size: 35px;
    text-align: center;
}
#connect{
    padding-top: 8%;
    padding-bottom: 2%;
    text-align: center;
}
#connect i:hover {
    opacity: .7;
}
#contact {
    padding-top: 1%;
    background-image: linear-gradient(#302525,#937B79);
    color: whitesmoke;
}
footer div {
    text-align: center;
}
