html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Abel', sans-serif;
    background-color:rgb(255, 233, 220);
    line-height: 30px;
}
header{
    padding: 18%;
    background-image: url(https://github.com/anncong/Portfolio/blob/master/Endless%20Knot/endless_knot_banner.png?raw=true);
    background-size: 100%;
    background-position-y: 50%;
    height: 50vh;
}
p{
    font-size: 20px;
}
.container{
    padding-right: 100px;
    padding-left: 100px;
}
#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #F2AA52;
    text-align: center;
}
#navbar a {
    display: inline-block;
    font-size: 20px;
    color:#302525;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
#navbar a:hover {
    font-weight: 900;
    border-radius: 2px;
    text-decoration: underline;
}
/* #projectgoal, #process_info {
    background-color: #F2D5E3;
} */
h1{
    font-size: 55px;
    text-align: center;
}
h2 {
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    font-size: 55px;
}
.pics{
    padding: 25px;
    text-align: center;
}
img{
    /* border: 1px solid brown; */
    border-radius: 10px;
}
.caption{
    padding-top: 15px;
    font-size: 16px;
}
footer{
    text-indent: 20px;
}
